{
	"printWidth": 100,
	"semi": true,
	"bracketSameLine": false,
	"tabWidth": 4,
	"useTabs": true,
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"singleQuote": false,
	"preserve": "always",
	"jsxBracketSameLine": false
}
